<div class="row" id="datalist-titels">
  <div class="col-sm-1">
    <strong>Filetype</strong>
  </div>
  <div class="col-sm-6">
    <strong>Filename</strong>
  </div>
  <div class="col-sm-2">
    <strong>Last Modified</strong>
  </div>
  <div class="col-sm-3">
    <strong>File Size</strong>
  </div>
</div>


<a *ngFor="let breadcrumb of breadcrumbs" (click)="navigate(breadcrumb)" href="javascript:void(0)">{{ (breadcrumb == "") ? "Dropbox" : " > " + breadcrumb }}</a>

<div id="itemArrayContainer">
  <div *ngFor="let item of itemArray" class="row datalist-items" (click)="openFile(item.path_lower, item['.tag'])">

    <div class="col-sm-1">
      <img *ngIf="hasThumbnail(item.thumbnail)" [src]=sanitize(item.thumbnail) class="img-icon">
      <img *ngIf="!hasThumbnail(item.thumbnail)" src="../../assets/Images/{{item['.tag']}}.png" class="img-icon">

    </div>
    <div class="col-sm-6">
      {{item.name}}
    </div>
    <div class="col-sm-2">
      {{item.client_modified}} 
    </div>
    <div class="col-sm-2">
      {{item.size}}
    </div>
    <div class="col-sm-1">
      <div class="rating">
        <span>☆</span>
      </div>



    </div>

  </div>

</div>

<button (click)="previousFolder()">previous folder</button>